@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100vh;
  --bg: rgba(22, 22, 22, 0.95);
  --bg-alt: rgba(22, 22, 22, 0.85);
  /* --text: rgba(255, 183, 195, 0.95);
  --highlight: rgba(247, 215, 220, 0.959); */
  --highlight: rgba(255, 183, 195, 0.95);
  --text: rgba(247, 215, 220, 0.959);
  --progress: rgba(255, 144, 162, 0.5);
  --progress: var(--highlight);
}
body {
  font-family: 'Monterrat', sans-serif;
  font-size: 1.3rem;
  background: var(--bg);
  color: var(--text);
}
form {
  display: grid;
  grid-template-columns: 5fr 1fr;
  background: #000;
  padding: 0.2rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 3rem;
  max-height: 6rem;
}
form input {
  border: 0;
  padding: 0.6rem;
  /* width: 90%; */
  margin-right: 0.5%;
  height: 100%;
}
form button {
  /* width: 9%; */
  background: var(--bg);
  border: none;
  padding: 10px;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background: var(--bg-alt);
}
#messageInput {
  height: 100%;
}